* {
  box-sizing: border-box;
}
.body {
  font-family: "Roboto", sans-serif;
  padding-top: 44px;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.input {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px 8px 35px;
}
.input-address {
  width: 690px;
  background: url("../img/home.svg") no-repeat left 11px center;
}
.input-search {
  width: 306px;
  background: url("../img/search.svg") no-repeat left 11px center;
}
.buttons {
  display: flex;
  align-items: center;
}
.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
}
.button-primary {
  background: #1890ff;
  border: 1px solid #1890ff;
  color: #ffffff;
  margin-right: 10px;
}
.button-icon {
  margin-right: 6px;
}
.offer {
  filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
  background: #fff1b8 url("/img/offer-image.png") no-repeat top -66px right -100px /
    580px;
  border-radius: 10px;
  padding: 68px 70px;
  color: #302c34;
  margin-bottom: 56px;
}
.offer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
}
.offer-text {
  max-width: 518px;
  font-size: 24px;
  line-height: 28px;
}
.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
}
.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  text-decoration: none;
}
.card-image {
  width: 384px;
  height: 250px;
  object-fit: cover;
}
.card-text {
  padding: 20px 23px 35px;
  display: flex;
  flex-direction: column;
}
.card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
}
.card-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  background: #262626;
  border-radius: 2px;
  padding: 1px 8px;
}
.card-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.rating {
  background-image: url("../img/icon/rating.svg");
  background-repeat: no-repeat;
  background-position: 0 7px;
  padding-left: 20px;
  margin-right: 26px;
  color: #ffc107;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}
.price,
.category {
  color: #8c8c8c;
  font-size: 18px;
  line-height: 32px;
}
.price {
  margin-right: 10px;
}
.price:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: hsl(0, 0%, 55%);
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
}
.category {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
}
